.big-img img {
  /* height: 300px; */
  width: 200px;
}
/* 
.my-light-box {
  width: 300px !important;
  height: 500px;
} */

.detail-content {

  padding: 2rem ;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* width: 700px; */
  /* margin:  0 auto; */

}
.property-description{
  padding: 6rem 2rem;
}
@media screen and (min-width: 768px) {

  .property-description-container {
    max-width: 1170px;
    margin: 0 auto;
  }
}